h2.clock-style{
 font-weight: 700;   
 font-size: 100px;
 color: rgba(255, 255, 255, 0.6);
 /* background-color: yellow; */
 margin: 0 auto;
 margin-top: 80px;
 text-align: center;
 position: relative;
 
}

@media (max-width: 380px){
    h2.clock-style{
        font-size: 60px;
    }
    

}

/* 모바일 */
@media (max-width: 440px){

    h2.clock-style{
        font-size: 70px;
    }
    

}